/* Your custom styles go here.
   Use Bootstrap classes first, and write your own CSS only when you need to. */
#spinnerContainer {
    height: 300px;
}
 .btn-custom-width{
   width: 100%;
 }
 .add-expense{
  height: 100%;
 }
 .nav-row{
  width: 100% !important;
 }